{% extends 'html/base.html' %}

{% block content %}

<script type="text/javascript">

       $(function(){
        var matrix = new Array(16);
        for (var i = 0; i < 16; i++) {
          matrix[i] = new Array(5);
          for (var j = 0; j<5; j++) {
              matrix[i][j] = 0;
          }
        }
            $(".grid").click(function(e) {
                if($(e.currentTarget).css("background-color") == "rgb(255, 255, 0)"){
                    $(e.currentTarget).css({"background-color" : "white"});
                    matrix[$(e.currentTarget).index()][$(e.currentTarget).parent().data("index")] = 0;
                }
                else{
                    $(e.currentTarget).css({"background-color" : "yellow"});
                    matrix[$(e.currentTarget).index()][$(e.currentTarget).parent().data("index")] = 1;
                }
                $("#id_schedule_data").val(matrix.toString().replace(/,/gi,""));
            });

        });
</script>

	<form method="POST" class="post-form">{% csrf_token %}
	        <label for="id_teamcode">Teamcode:</label>
        	<input type="text" name="teamcode" maxlength="20" required="" id="id_teamcode">
        	<label for="id_schedule_data" >Schedule data:</label>
            {% include "html/timetable.html" %}
        	<input type="hidden" name="schedule_data" maxlength="100" required="" id="id_schedule_data">
	        <button type="submit" class="save btn btn-default">Save</button>
	</form>

    <div class="user" style="margin: 0px;">
        <h2>{{ test }}</h2>
    </div>

    

{% endblock %}