<div id="container" class="" style="margin-top: 15px;margin-bottom: 30px">
<div class="wrap timetable" style=""><!-- width: 610px; -->
    <div class="tablebody">
        <table class="tablebody" style="margin-top:">
        <tbody>
        <tr>
            <th>
                <div class="hours">
                   
                    <div class="hour" style="height: 30px; top: 30px; line-height: 30px;">
                        1교시
                    </div>
                    <div class="hour" style="height: 30px; top: 60px; line-height: 30px;">
                        2교시
                    </div>
                    <div class="hour" style="height: 30px; top: 90px; line-height: 30px;">
                        3교시
                    </div>
                    <div class="hour" style="height: 30px; top: 120px; line-height: 30px;">
                        4교시
                    </div>
                    <div class="hour" style="height: 30px; top: 150px; line-height: 30px;">
                        5교시
                    </div>
                    <div class="hour" style="height: 30px; top: 180px; line-height: 30px;">
                        6교시
                    </div>
                    <div class="hour" style="height: 30px; top: 210px; line-height: 30px;">
                        7교시
                    </div>
                    <div class="hour" style="height: 30px; top: 240px; line-height: 30px;">
                        8교시
                    </div>
                    <div class="hour" style="height: 30px; top: 270px; line-height: 30px;">
                        9교시
                    </div>
                    <div class="hour" style="height: 30px; top: 300px; line-height: 30px;">
                        10교시
                    </div>
                    <div class="hour" style="height: 30px; top: 330px; line-height: 30px;">
                        11교시
                    </div>
                    <div class="hour" style="height: 30px; top: 360px; line-height: 30px;">
                        12교시
                    </div>
                    <div class="hour" style="height: 30px; top: 390px; line-height: 30px;">
                        13교시
                    </div>
                    <div class="hour" style="height: 30px; top: 420px; line-height: 30px;">
                        14교시
                    </div>
                    <div class="hour" style="height: 30px; top: 450px; line-height: 30px;">
                        15교시
                    </div>
                </div>
            </th>
            {% for i in range %}
            {% if i > 4 %}
            <td  style="display: none;" >
            {% else %}
            <td>
            {% endif %}
                <div class="cols">
                </div>
                <div class="grids" data-index="{{i}}" readonly="true">
                    <div class="foo" style="    height: 30px;
    line-height: 30px;
    font-size: 15px;
        text-align: center;
        background-color: #828282;
        color: white;
        ">
                    {% if i == 0 %}
                    월
                    {% elif i == 1 %}
                    화
                    {% elif i == 2 %}
                    수
                    {% elif i == 3 %}
                    목
                    {% elif i == 4 %}
                    금
                    {% endif %}
                    </div>
                    <div class="grid">
                    </div>
                    <div class="grid">
                    </div>
                    <div class="grid">
                    </div>
                    <div class="grid">
                    </div>
                    <div class="grid">
                    </div>
                    <div class="grid">
                    </div>
                    <div class="grid">
                    </div>
                    <div class="grid">
                    </div>
                    <div class="grid">
                    </div>
                    <div class="grid">
                    </div>
                    <div class="grid">
                    </div>
                    <div class="grid">
                    </div>
                    <div class="grid">
                    </div>
                    <div class="grid">
                    </div>
                    <div class="grid">
                    </div>
                    
                </div>
            </td>
            {% endfor %}
            
            <th>
                <div class="times">
                    <div class="foo" style="    height: 30px;
    line-height: 30px;
    font-size: 1px;">
                        
                    </div>
                    <div class="time">
                        오전 9시
                    </div>
                    <div class="time">
                        오전 10시
                    </div>
                    <div class="time">
                        오전 11시
                    </div>
                    <div class="time">
                        오후 12시
                    </div>
                    <div class="time">
                        오후 1시
                    </div>
                    <div class="time">
                        오후 2시
                    </div>
                    <div class="time">
                        오후 3시
                    </div>
                    <div class="time">
                        오후 4시
                    </div>
                    <div class="time">
                        오후 5시
                    </div>
                    <div class="time">
                        오후 6시
                    </div>
                    <div class="time">
                        오후 7시
                    </div>
                    <div class="time">
                        오후 8시
                    </div>
                    <div class="time">
                        오후 9시
                    </div>
                    <div class="time">
                        오후 10시
                    </div>
                    <div class="time">
                        오후 11시
                    </div>
                </div>
            </th>
        </tr>
        </tbody>
        </table>
    </div>
</div>
</div>
